/* Copyright: © 2017 Brett Stime. */

.yoink fieldset {
    display: block;
    padding: 0.35em 0.75em 0.625em;
    border: 1px solid #ccc;
}

.yoink fieldset.location {
    margin: 1em;
    width: 60em;
}

.yoink form.warehouse label {
    font-size: 0.8em;
}

.yoink fieldset.location .first {
    text-align: right;
    display: inline-block;
    width: 8em;
}

.yoink fieldset.location input.state {
    width: 3em;
}

.yoink fieldset.location input.postcode {
    width: 7em;
}

.yoink legend {
    font-size: 0.8em;
}

.yoink label.optional {
    color: #aaa;
}

.yoink input.btn {
    cursor: pointer;
}

.yoink ul {
    list-style: inside;
}

.yoink .problems {
    color: red;
    margin: 3em 0 -1em;
}

.yoink label.err {
    color: red;
}

.yoink.warehouse p.form-row, .yoink fieldset.location p.form-row {
    display: inline;
    margin: 0;
}

#wpfooter {
    position: relative;
}

.yoink .alert {
    background-color: #f99;
    border: 2px solid red;
    margin: 5px 0 15px;
    padding: 1em;
    width: 600px;
}

.yoink .alert h4 {
    margin: 0;
    color: #900;
}

.yoink .alert p {
    margin-bottom: 0;
}

.yoink .labelCell {
    text-align: right;
}

.yoink button {
    cursor: pointer;
}

.yoink .howUse {
    margin-top: 4em;
}

.yoink h1.genQr {
    margin-bottom: 1em;
}

.yoink #warehouseTree, .yoink #qrGenExampleRoom {
    width: 300px;
    height: 300px;
}

/* .yoink #qrGenExampleRoom {
    float: left;
} */

.yoink figure {
    border: 1px solid #000;
}

.yoink p figure {
    float: left;
    margin-right: 1em;
}

.yoink p {
    max-width: 40em;
}

.yoink figcaption {
    margin-left: 1em;
}

.yoink .dimensionsExample, .yoink .prefixExample {
    font-size: 1.5em;
}

.yoink .importantNotice {
    margin-left: 1em;
    padding-left: 1em;
    border: 4px solid #ffb400;
    max-width: 50em;
    background-color: #ffd570;
}

.yoink .importantNotice b {
    color: #513a02;
}

.yoink .warehouses th, .yoink .warehouses td {
    text-align: left;
    padding: 0.2em 1em;
}

.yoink .success {
    padding: 1em 0;
    color: #090;
}

.yoink .fail {
    padding: 1em 0;
    color: #900;
}

.yoink input[name="alerts_addy"] {
    width: 15em;
}

.yoink th {
    text-align: left;
}

.yoink .unf_name {
    padding-right: 1em;
}

#yoinkReferQr {
    margin: 2em 3em 2em 1em;
    float: left;
}

/*
.yoink #fig2par2 {
    clear: left;
} */